<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drippy</title>
</head>
<body>
Water is currently {{ is_on }}
<hr>
<form action="/" method="post">
    <input type="submit" name="water-toggle" value="Toggle Watering State">
</form>
</body>
</html>